@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap");
@import "tailwindcss";

@theme {
	--breakpoint-laptop: 64rem;
	--color-Neutral-0: hsl(0, 0%, 100%);
	--color-Neutral-300: hsl(252, 6%, 83%);
	--color-Neutral-500: hsl(245, 15%, 58%);
	--color-Neutral-700: hsl(245, 19%, 35%);
	--color-Neutral-900: hsl(248, 70%, 10%);
	--color-Orange-500: hsl(7, 88%, 67%);
	--color-Orange-700: hsl(7, 71%, 60%);
	--color-Gradient-text: hsl(7, 86%, 67%);

	--color-Gradient-text2: hsl(0, 0%, 100%);
	--font-Inconsolata: Inconsolata, "sans-serif";
}

body {
	height: 100vh;
	width: 100vw;
	font-family: var(--font-Inconsolata);
	color: var(--color-Neutral-0);
}

.error{
	filter: invert(40%) sepia(90%) saturate(991%) hue-rotate(327deg) brightness(109%) contrast(77%);
}

